h1 {
    font-family: "VT323", monospace;
    color: #ffffff;
    font-size: 100px;
    border: 2px #000000;
    margin: 0px 0px 10px 0px;
    animation-name: textColorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  body{
    cursor: url("robot\ arm\ blue.png"), url("robot\ arm\ blue.png"), default;}
  head{
      cursor: url("robot\ arm\ blue.png"), url("robot\ arm\ blue.png"), default;}
      
  a{
    cursor: url("robot\ arm\ blue.png"), url("robot\ arm\ blue.png"), default;}
  @keyframes textColorChange {
    0% {
      color: #ffffff;
    }
    20% {
      color: #000000;
    }
    40% {
      color: #ffffff;
    }
    60% {
      color: #000000;
    }
    80% {
      color: #ffffff;
    }
    100% {
      color: #000000;
    }
  }
  body{
    font-family: "VT323", monospace;
    margin: 40px;
    padding: 30px;
    background-color: #000000;
  }
  .href{
    cursor: url("robot\ arm\ blue.png"), url("robot\ arm\ blue.png"), default;}