h2{
    font-size: 70px;
    font-family: 'Luckiest Guy', cursive;
    color: #ee7a99;
}

p{
    font-size: 40px;
    font-family: 'Bangers', cursive;
    color: #ee7a99;
}

h1{
    font-size: 70px;
    font-family: 'Luckiest Guy', cursive;
    color: #ee7a99;
}

body{
    background-color: #f8d2d272;
    margin: 50px;
    padding: 40px;
}
