h2{
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    color: #ee7a99;
}

p{
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    color: #ee7a99;
}

body{
    background-color: #cfb4b4;
    margin: 50px;
    padding: 40px;
}