h1 {
    font-size: 5vw;
    color: #a51;
    font-family: 'Frijole', cursive;
    margin: 0 auto;
}

form{
    margin-top: -5vw;
}

body{
    background-image: urL(parknight.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
    padding: var( --spacing);
    display: grid;
    gap: calc(var(--spacing) * 2);
    width: 100%;
    transition: background 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
    will-change: background;
}

.night{
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 5vw;
    filter: blur(4px);
    margin-top: -10vw;
    margin-left: 7vw;
    position: absolute;
    z-index: 1;
}

:root {
    --light: white;
    --dark: rgb(72, 72, 72);
    --brown: #ffffff;
    --red: #fd3e3e;
    --gray: #9C9C9C;
    --cinnamon: #DA5C09;
    --black: black;
    --white: #B9E5E3;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
  
  .winner {
    background: var(--bg-winner);
  }
  
  .app {
    text-align: center;
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 50vw;
    height: 100%;
    position: relative;
    margin-top: -20vw;
    margin-left: -5vw;
    font-family: 'Frijole', cursive;
    color: white;
  }
  
  .app-display {
    min-block-size: 75%;
    display: grid;
    place-content: center;
    place-items: center;
    align-items: stretch;
    align-content: space-evenly;
  }
  
  /*.metric-group {
    display: flex;
  }*/
  
  /*grid instead of flex*/
  .metric-group {
    display: grid;
    gap: 2em;
    width: 100vw;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    place-content: center;
    place-items: center;
    margin-block-start: 2rem;
    max-inline-size: 1000px;
    align-items: start;
  }

  .metric {
    margin: 10px;
    max-width: 90px;
    display: grid;
    gap: 16px;
    place-items: center;
  }
  .metric .label {
    font-weight: 700;
    font-size: 0.9rem;
  }
  
  .circle-chart {
    --selected-color: var(--green);
    color: var(--selected-color);
    width: 75px;
    display: grid;
    place-items: center;
  }
  .circle-chart > * {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .circle-chart .circle-bg {
    fill: var(--brown);
    stroke: var(--brown);
    stroke-width: 2.8;
  }

  .circle-chart .circle {
    fill: none;
    stroke: var(--selected-color);
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1.2s ease-in-out forwards;
  }
  .circle-chart .percentage {
    font-family: 'frijole', cursive;
    font-size: 1.4rem;
    max-width: 3ch;
    overflow-x: clip;
    white-space: nowrap;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  