h1 {
    font-size: 5vw;
    color: #a51;
    font-family: 'Frijole', cursive;
    margin: 0 auto;
}

form{
    margin-top: -5vw;
}

body{
    background-image: urL(parkday.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
    padding: var( --spacing);
    display: grid;
    gap: calc(var(--spacing) * 2);
}

@media (min-width: 600px) {
    body { 
        --spacing: 32px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root,
:root.light {
    opacity: 100%
}

:root.dark {
    filter: brightness(40%);
    background-image: urL(parkday.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
}

body {
  margin: 0;
}

.toggle-container {
  position: relative;
}

.theme-btn {
  width: 6em;
  height: 6em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.theme-btn img {
  height: 100%;
  width: 100%;
  margin-top: -21.5vw;
  margin-left: 5vw;
  object-fit: cover;
}

img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
  }
  
.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}


label { opacity: 50%; }

select, ul {
    background-color: #eee;
    border-radius: calc(var(--spacing) / 4);
}

select {
    margin-left: calc(var(--spacing) / 4);
    padding: calc(var(--spacing) / 4);
    text-align: center;
    width: fit-content;
}

#graph {
    /* Add up the individual counts, from the JS. */
    --total: calc(var(--gray) + var(--cinnamon) + var(--black) + var(--undefined));

    display: flex;
    height: calc(var(--spacing) * 3);
    overflow: hidden;
}

/* Ease the widths, when we change via dropdown. */
#graph li { 
    transition: width 1s ease-in-out;
    border-right: 3px solid #eee;
}

/* Calculate from the JS variable. */
#graph .gray { width: calc(var(--gray) / var(--total) * 100%); }
#graph .cinnamon { width: calc(var(--cinnamon) / var(--total) * 100%); }
#graph .black { width: calc(var(--black) / var(--total) * 100%); }

.gray { background-color: gray; }
.cinnamon { background-color: #a51; }
.black { background-color: #444; }