body{
    background-image: url(rettacopy.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    position: absolute;
}
h2{
    font-family: 'Handlee', cursive;
    font-size: 23px;
    transform:rotate(-15deg);
    margin-top: 17vw;
    margin-left: 53vw;
    color: black;
}
a{
    color: red;
}
body{
    cursor: url("elasticcurdor.png"), url("elasticcurdor.png"), default;
}
head{cursor: url("elasticcurdor.png"), url("elasticcurdor.png"), default;}