.jaro{
    margin-left: 5vw;
    font-size: 15px;
    font-family: 'Handlee', cursive;
    color: white;
}

body{
    background-color: #6A6A69;
}
.first{
    margin-top: -5vw;
    position: absolute;
}
.second{
    transform: hue-rotate(80deg);
    position: absolute;
    margin-top: -5vw;
    margin-left: 47vw;
}
